##
## DEFAULT GLOBE THEME
## 
## Author: Alex Kim
## Last Edit Date: March 20, 2013
##

<div id="content">
	<div id="level2PageContentBox">
		
		#parse ("$full_templates_path/portal_second_level_nav.vm")
		
		## Check if no tabs and sidebar
		#if ($layout.getAncestors().get($tab_root_item_index).getChildren().size() == 1 && $left_nav_items.size() > 0)
	
			## Check to see if there are any visible items		
			#set ($showSidebar = 0)
			#foreach ($nav_item in $left_nav_items)
				#if (!$nav_item.hidden)	
					#set ($showSidebar = 1)
				#end
			#end
	
			#if ($showSidebar == 1)	
				#set ($showChildren_l0 = 0)
				<div class="open-sidebar" id="sidebar">
				#parse ("$full_templates_path/portal_second_sidebar.vm")
				</div> <!-- /sidebar -->
			#end
		
			#if ($layout.getAncestors().size() >= 2 || $layout.getGroup().name != "Guest")
	 		<div id="article_container">
	 		#end
	 	
		#else
		
			#if ($layout.getAncestors().size() >= 2 || $layout.getGroup().name != "Guest")
	 		<div id="article_container">
	 		#end
	 	
			#if ($left_nav_items.size() > 0)
	
				##if ($layout.getAncestors().get($tab_root_item_index).getChildren().size() > 1 && $left_nav_items.size() > 0)	
				#if ($left_nav_items.size() > 0)	
					#set ($showChildren_l0 = 0)
				<div id="sidebar">
					#parse ("$full_templates_path/portal_second_sidebar.vm")
				</div> <!-- /sidebar -->
				#end
			
				##<div id="article">	
				#if ($showChildren_l0 == 0)
			<div id="articleNoLeftMenu">
				#else
			<div id="article">
				#end
			
			#end
		
		#end

		
		<a name="maincontent"></a>

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
		
		##<!--- don't delete this br --->
		##<br clear="all" />
		
		#if ($layout.getAncestors().size() == 2 || $layout.getGroup().name != "Guest")
		</div><!--- /article_container --->
		#end
		
	</div>
</div>

